/** @format */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f9d2c2;
	font-family: 'Outfit', sans-serif;
	min-height: 100vh;
	background-image: url('./assets/img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	
}

@layer components {

	input[type='range']::-moz-range-thumb {
		/*stuff here*/
		@apply bg-[#0F4139] border-none h-3 w-3;
	}

	input[type='range']::-ms-thumb {
		/*stuff here*/
		@apply bg-[#0F4139] border-none h-3 w-3;
	}

	input[type='range']::-webkit-slider-thumb {
		/*stuff here*/
		@apply bg-[#0F4139] border-none h-3 w-3;
	}
}
